@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "evilcookie";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(37% 0.034 259.733);
    --color-base-200: oklch(55% 0 0);
    --color-base-300: oklch(55% 0 0);
    --color-base-content: oklch(97% 0.001 106.424);
    --color-primary: oklch(0% 0 0);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(87% 0.01 258.338);
    --color-secondary-content: oklch(96% 0.016 293.756);
    --color-accent: oklch(59% 0.249 0.584);
    --color-accent-content: oklch(97% 0.014 343.198);
    --color-neutral: oklch(14% 0.004 49.25);
    --color-neutral-content: oklch(98% 0.001 106.423);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(84% 0.238 128.85);
    --color-success-content: oklch(27% 0.072 132.109);
    --color-warning: oklch(75% 0.183 55.934);
    --color-warning-content: oklch(26% 0.079 36.259);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
